<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.lyllo.kickassplugin.editor.ASMEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="asm, inc, s, sym"
            icon="icons/16/asm.gif"
            id="KickAssPlugin.editor1"
            name="%editor.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.lyllo.kickassplugin.ui.PreferencesGeneral"
            id="org.lyllo.kickassplugin.preferences.general"
            name="%preferences.general.name"/>
      <page
            category="org.lyllo.kickassplugin.preferences.general"
            class="org.lyllo.kickassplugin.ui.PreferencesCompiler"
            id="org.lyllo.kickassplugin.preferences.compiler"
            name="%preferences.compiler.name"/>
      <page
            category="org.lyllo.kickassplugin.preferences.general"
            class="org.lyllo.kickassplugin.ui.PreferencesDebugger"
            id="org.lyllo.kickassplugin.preferences.debugger"
            name="%preferences.debugger.name"/>
	   <page
            category="org.lyllo.kickassplugin.preferences.general"
            class="org.lyllo.kickassplugin.ui.PreferencesTemplates"
            id="org.lyllo.kickassplugin.preferences.templates"
            name="%preferences.templates.name"/>
   </extension>
   <extension
         id="nature"
         name="Kick Assembler Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.lyllo.kickassplugin.KickAssemblerNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/8/asm.gif"
            id="org.lyllo.kickassplugin.nature.image"
            natureId="org.lyllo.kickassplugin.nature"/>
   </extension>
   <extension
         id="builder"
         name="Kick Assembler Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false"
            isConfigurable="false">
         <run class="org.lyllo.kickassplugin.KickAssemblerBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.lyllo.kickassplugin.new.category"
            class="org.lyllo.kickassplugin.ui.WizardNewProject"
            hasPages="true"
            icon="icons/16/new_asm_project.gif"
            id="org.lyllo.kickassplugin.new.project"
            name="%new.project.name"
            project="true">
         <description>
            %new.project.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.lyllo.kickassplugin.new.category"
            class="org.lyllo.kickassplugin.ui.WizardNewFile"
            hasPages="true"
            icon="icons/16/new_asm_file.gif"
            id="org.lyllo.kickassplugin.new.file"
            name="%new.file.name"
            project="false">
         <description>
            %new.file.description
         </description>
      </wizard>
      <category
            id="org.lyllo.kickassplugin.new.category"
            name="%new.category"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.lyllo.kickassplugin.actionSet.helper"
            label="%actionset.asmhelper"
            visible="true">
         <action
               class="org.lyllo.kickassplugin.ui.AsciiAction"
               disabledIcon="icons/16/ascii_on.gif"
               hoverIcon="icons/16/ascii_on.gif"
               icon="icons/16/ascii_on.gif"
               id="org.lyllo.kickassplugin.ascii.wizard.RunWizardAction"
               label="%ascii.dialog.action.name"
               toolbarPath="toolbar.asm"
               tooltip="%ascii.dialog.action.tooltip" />
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.lyllo.kickassplugin.toggle.comment"
            name="%command.toggle.comment.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lyllo.kickassplugin.toggle.comment"
            contextId="org.lyllo.kickassplugin.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
      <key
            commandId="org.lyllo.kickassplugin.toggle.comment"
            contextId="org.lyllo.kickassplugin.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7"/>
      <key
            commandId="org.lyllo.kickassplugin.toggle.comment"
            contextId="org.lyllo.kickassplugin.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.lyllo.kickassplugin.editorScope"
            name="%context.scope"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.lyllo.kickassplugin.launch.ASMLaunchShortcut"
            icon="icons/16/launch.gif"
            id="org.lyllo.kickassplugin.shortcut"
            label="%launcher.name"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="%launcher.run.name"
                  mode="run"/>
            <contextLabel
                  label="%launcher.debug.name"
                  mode="debug"/>
            <enablement>
               <with variable="selection">
                  <count value="1">
                  </count>	
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*.prg"/>
                        <instanceof value="org.eclipse.core.resources.IFile"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.lyllo.kickassplugin.launch.ASMLauncher"
            id="org.lyllo.kickassplugin.launch"
            modes="run, debug"
            name="%launcher.config.name"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.lyllo.kickassplugin.launch.ASMLaunchTabGroup"
            id="org.lyllo.kickassplugin.launch.tabs"
            type="org.lyllo.kickassplugin.launch"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.lyllo.kickassplugin.launch"
            icon="icons/16/launch.gif"
            id="org.lyllo.kickassplugin.launch.image"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true"/>
   </extension>
</plugin>
